/*default style modifications*/

header.masthead {
    background: black;
}

hr.star-light {
    border-color: silver;
}

hr.star-light:after {
    color: black;
    background-color: silver;
}

hr.star-primary {
    border-color: black;
}

hr.star-primary:after {
    color: white;
    background-color: black;
}

section.success {
    color: white;
    background-color: black;
}

.portfolio-link {
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.btn-success {
    color: black;
    border-color: midnightblue;
    background-color: cadetblue;
}

.btn-success:hover {
    color: lightgoldenrodyellow;
    border-color: darkred;
    background-color: darkcyan;
        
}

#portfolio {
    background: slategray;
}

#contact {
    background: slategray;
}

/*contact form placeholder text*/

input::-webkit-input-placeholder {
    color: black !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: black !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: black !important;
}

input:-ms-input-placeholder {
    color: black !important;
}

textarea::-webkit-input-placeholder {
    color: black !important;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: black !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: black !important;
}

textarea:-ms-input-placeholder {
    color: black !important;
}