/* Fonts
    Headers: font-family: 'Righteous', cursive;
    Paragraphs: font-family: 'Prompt', sans-serif;
*/


/* colors

*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    color: white;
}

p {
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: deepskyblue;
    /*font-size: 24px;*/
}

a:hover {
    color: steelblue;
    text-decoration: underline;
}

header {
}

main {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}
